*{

    padding: 0;
    margin: 0;
}
nav{
    background: #228b22;
    height: 80px;
    width: 100%;
}
label.logo{
    color: #FFF;
    font-size: 35px;
    line-height: 80px; 
     padding: 0 100px; 
     font-weight: bold;

}
nav ul{
    float: right;
     margin-right: 20px; 
    line-height: 80px;
}
nav ul {
    display: flex;  
    gap: 15px; 
}


nav ul li {
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 17px;
    text-transform: uppercase;
}
.active, a:hover {
    color:#111111;
    transition: 0.5s;
}

.sec1{
    height: 65vh;
    background-color: forestgreen;
    padding: 0;
    margin: 0;
}

.sec1 .cont-sec1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5%;
}

.cont-sec1 .texte p{
   z-index: 100%;
}

.cont-sec1 .texte h1{
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

.cont-sec1 > img{
    width: 35%;
    height: 30%;
    border-radius: 30px;
}

.sec2{
    flex-wrap: wrap;
    margin-top: 1%;
    height: 200vh;
    text-align: center;
    text-transform: capitalize;
    color: forestgreen;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", serif;
}

footer{
    height: 200px;
    width: 100%;
    background-color: #228b22;
    margin-top: 5%;

}
footer p{
    padding-top: 20px;
    font-size: 26px;
    color: #FFF;
    text-align: center;
}
.icon{
    text-align: center;
    margin-top: 10px;
}
.icon a{
display:inline-flex; 
justify-content: center;
align-items: center; 
width: 2.5rem;
height: 2.5rem;
background-color: rgb(64, 66, 64);
border: 1px solid rgb(41, 40, 40);
border-radius: 50%;
 font-size: 1.3rem;
color: #ffffff;
text-decoration: none;
margin: 0.2em;

}



@media screen and (max-width: 991px){
    .sec1 .cont-sec1{
        flex-wrap: wrap;
    }

    .sec1{
        height: 75vh;
    }

    .cont-sec1  img{
        width: 80%;
        margin-top: 20px;
    }

    .sec2 img{
        width: 100%;
    }

    .sec1 .texte h1{
        font-size: 20px;
        letter-spacing: 2px;
        margin-top: 10px;
    }
        

}
@media (max-width: 916px) {
    label.logo{
        font-size: 18px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 12px;
    }

    ul{
        background-color: rgb(22, 165, 122);
         height: 50vh; 
        width: 100%;
        position: relative;
        
        top: 80px;
        left: 0; 
    }
    nav ul li a{
        color: rgb(199, 18, 18);
        text-align: center;
    }
    footer{
        font-size: 16px;
        height: 60px;
        width: 100%;
        padding-top: 10px;
    }


}

